<div class="audio-player">
    <div class="cover">
        <img src={{imageUrl}}>
    </div>
    <div class="title">
        <div class="title-name">{{title}}</div>
        <div class="title-artist">{{artist}}</div>
        <div class="title-extra">{{extra}}</div>
    </div>
    <div class="player">
        <div class="actions">
            <button *ngIf="playlist" mat-icon-button color="primary" class="action-buttons" (click)="this.prev.emit()">
                <mat-icon class="skip-icon">skip_previous</mat-icon>
            </button>
            <button *ngIf="!playing" mat-icon-button color="primary" class="action-buttons" (click)="this.play.emit()">
                <mat-icon class="play-stop-icon">play_arrow</mat-icon>
            </button>
            <button *ngIf="playing" mat-icon-button color="primary" class="action-buttons" (click)="this.pause.emit()">
                <mat-icon class="play-stop-icon">stop</mat-icon>
            </button>
            <button *ngIf="playlist" mat-icon-button color="primary" class="action-buttons" (click)="this.next.emit()">
                <mat-icon class="skip-icon">skip_next</mat-icon>
            </button>
        </div>
        <div class="timeline-values">
            <mat-icon (click)="this.replay.emit()" class="play-again">replay</mat-icon>
            <span class="start-time">{{trackTime}}</span>
            <span class="end-time">{{endTime}}</span>
        </div>
        <mat-slider [value]="sliderPosition" class="timeline" (change)="this.seekTo.emit($event)"></mat-slider>
    </div>
    <div class="controls">
        <mat-icon class="volume">volume_up</mat-icon>
    </div>
</div>


