<h1 class="mat-headline">headline (h1) &mdash; 24px normal</h1>
<h2 class="mat-title">title (h2) &mdash; 20px medium</h2>
<h3 class="mat-subheading-2">subheading-2 (h3) &mdash; 16px normal</h3>
<h4 class="mat-subheading-1">subheading-1 (h4) &mdash; 15px normal</h4>
<p class="mat-body-1">body-1 &mdash; 14px normal</p>

<p>Si vous souhaitez nous faire part de vos impressions, déposer un fichier audio ou nous laisser un message :
    F : radio-dimanche@facebook.com
    I : radio-dimanche@instagram.com
    M : radio-dimanche@gmail.com
</p>

<fa-icon [icon]="faCoffee" animate="spin"></fa-icon>
