
<javascript  src='../assets/js/widgetApi.js' type="text/javascript"></javascript>
<javascript  src='../assets/js/challenge.js' type="text/javascript"></javascript>
<!-- 
<button onclick="pausep0()">Pause player</button> 
<button onclick="playp0()">Play player</button> 

<button onclick="nextTrack()">next track</button>
<button onclick="doesConnectionExist()">check connection</button> -->

<div hidden="true" #jsconsole id="jsconsole"></div>
<div hidden="true" #playlist id="playlist"></div>

<mat-tab-group>
    <mat-tab label="Radio">

<div 	style="margin-top:10%;">

    <mat-grid-list cols="3" rowHeight="200px">  
        <mat-grid-tile>
            <mat-icon >fast_rewind</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>
            <div *ngIf="loaded">
                <mat-icon *ngIf="pause" onclick="playp0()" class='big-icon'>play_circle</mat-icon>
                <mat-icon *ngIf="play" onclick="pausep0()" class='big-icon'>pause_circle</mat-icon>
            </div>
            
            <mat-spinner *ngIf="!loaded"></mat-spinner>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-icon onclick="nextTrack()">fast_forward</mat-icon>
        </mat-grid-tile>
    </mat-grid-list>

</div>

</mat-tab>

<!-- 
to do : wrap playlists view in it's own component, is player still working ?
to do : use route snapshot to get to playlis details https://angular.io/tutorial/toh-pt5
to do : widget to footer ! regarder l'exemple "mixcloud footer widget" à la fin de ce html et ajouter les "style properties" à la fonction "prepareFrame()" de widgetApi.js" -->

<mat-tab label="Episodes">
<nav>
  <a *ngIf="detailActivated" routerLink="/home" routerLinkActive="active " (click)="detailActivated=false" >Retour à la liste</a>
</nav>

  <router-outlet></router-outlet>

    <div class="grid-container" *ngIf="mix.mixcloudPlaylistsContent && !detailActivated">
        <h1 class="mat-h1">Listes de lecture Mixcloud</h1>
        <mat-grid-list cols="4" rowHeight="350px">
                <!--     <mat-grid-tile *ngFor="let hero of cards | async" > -->
          <mat-grid-tile *ngFor="let element of mix.mixcloudPlaylistsContent" [colspan]="(isHandset$ | async) ? '4' : '1'" >
            <mat-card class="dashboard-card" >
              <mat-card-header>
                <mat-card-title >
                  {{element.name}}
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                  </mat-menu>
                </mat-card-title>
      
              </mat-card-header>
                <!--         <div class="image-container" routerLink="/testgrid"  style="cursor:pointer"> -->
              
                  <div class="image-container" [routerLink]="['playlist', element.name]" (click)="detailActivated=true;" style="cursor:pointer" >          
                <img mat-card-image src="" style="height:auto;width:80%;">
              </div>
      
              <mat-card-content class="dashboard-card-content">
                <div>url : {{element.url}}</div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
      
        </mat-grid-list>
    </div>

</mat-tab>
<mat-tab label="A propos"> <app-about></app-about> </mat-tab>
<mat-tab label="Contact"> <app-contact></app-contact> </mat-tab>


<!-- <mat-tab label="LIVE"> Content 5 </mat-tab> -->
</mat-tab-group>

<footer fxFlex="52px" fxLayoutAlign="center center" class="footer">
  <div  id="player" style="position: fixed; left: 0; bottom: 0; right: 0; height: 52px; z-index: 10">
    
    <ngx-audio-player [playlist]="sc.dataSource" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
      muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" (trackEnded)="onEnded($event)"  (trackPlayed)="onPlayed($event)" (trackPaused)="onPaused($event)" (trackLoaded)="onLoaded($event)" (trackLoading)="onLoading($event)"
      [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
      [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
      [displayDuration]="msaapDisplayDuration" [expanded]="true">
    </ngx-audio-player> 
      
  </div>
</footer>

