
<div class=logoFrame>
  <span class="logoHelper"></span>
  <img class="logoImg" [@vinylAnim]="currentState"  (@vinylAnim.done)='captureDoneEvent($event)' src="../assets/img/radio-dimanche-logo-text.svg" />
</div>

<div [@overlayFadeOut]="overlayState" (@overlayFadeOut.done)="overlayState='visible'" >
</div>

<mat-tab-group class="footer-dependant" [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex=$event" backgroundColor="accent">
  <mat-tab label="Radio">

    <div 	style="margin-top:10%;">

        <mat-grid-list cols="3" rowHeight="200px">  
            <mat-grid-tile>
              <button mat-icon-button color="primary" class='middle-button'>
                <mat-icon (click)="ngxAudioPlayerPrevious()" class='middle-icon'>fast_rewind</mat-icon>
              </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button *ngIf="loaded" mat-icon-button color="primary" class='big-button'>
                    <mat-icon *ngIf="pause" (click)="ngxAudioPlayerPlay()" class='big-icon'>play_circle</mat-icon>
                    <mat-icon *ngIf="play" (click)="ngxAudioPlayerPlay()" class='big-icon'>pause_circle</mat-icon>
                </button>
                
                <mat-spinner *ngIf="!loaded"></mat-spinner>
            </mat-grid-tile>
            <mat-grid-tile>
              <button mat-icon-button color="primary" class='middle-button'>
                <mat-icon (click)="ngxAudioPlayerNext()" class='middle-icon'>fast_forward</mat-icon>
              </button>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile>
            <img mat-card-image *ngIf="sc.dataSource[currentIndex]" style="height: inherit;width: auto;margin-top:auto;"  src="{{sc.dataSource[currentIndex].artwork_url}}" >
          </mat-grid-tile>
          <mat-grid-tile>
            {{currentTrack.title}}<br>
            {{currentTrack.artist}}<br>
          </mat-grid-tile>
          <mat-grid-tile>
            <div *ngIf="sc.dataSource[currentIndex]">
              Playlist : {{sc.dataSource[currentIndex].playlistTitle}}     
              <button mat-icon-button class="more-button" (click)="detailActivated=true;changeTabIndex(1);" [routerLink]="['playlist',sc.dataSource[currentIndex].playlistTitle]">
                <mat-icon>navigate_next</mat-icon>
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>



      </div>
  </mat-tab>

<!-- to do : wrap playlists view in it's own component, is player still working ? -->

<mat-tab label="Episodes">
<nav>
  <a *ngIf="detailActivated" routerLink="/home" routerLinkActive="active " (click)="detailActivated=false" >Retour aux playlists</a>
</nav>

  <router-outlet></router-outlet>

    <div class="grid-container" *ngIf="sc.soundcloudPlaylists && !detailActivated">
        <h1 class="mat-h1">Listes de lecture Mixcloud</h1>
        <mat-grid-list cols="4" rowHeight="350px">
                <!--     <mat-grid-tile *ngFor="let hero of cards | async" > -->
          <mat-grid-tile *ngFor="let element of sc.soundcloudPlaylists" [colspan]="(isHandset$ | async) ? '4' : '1'" >
            <mat-card class="dashboard-card" style="max-width: 200px;" >
              <mat-card-header>
                <mat-card-title >
                  {{element.title}}
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                  </mat-menu>
                </mat-card-title>
      
              </mat-card-header>
                <!--         <div class="image-container" routerLink="/testgrid"  style="cursor:pointer"> -->
              
                <div class="image-container" [routerLink]="['playlist', element.title]" (click)="detailActivated=true;" style="cursor:pointer" >          
                  <img mat-card-image src="{{element.artwork_url}}" style="width: 100%;margin-left:auto;">
                </div>
      
              <mat-card-content class="dashboard-card-content">
                <div>Nombre de titres <br/>Date dernier ajout
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
      
        </mat-grid-list>
    </div>

</mat-tab>
<mat-tab label="A propos"> <app-about></app-about> </mat-tab>
<mat-tab label="Contact"> <app-contact></app-contact> </mat-tab>


<!-- <mat-tab label="LIVE"> Content 5 </mat-tab> -->
</mat-tab-group>

<!-- <footer fxFlex="52px" fxLayoutAlign="center center" class="footer">
  <div  id="player" style="position: fixed; left: 0; bottom: 0; right: 0; height: 52px; z-index: 10"> -->

<footer  fxLayoutAlign="center center" class="footer">
  <div style="position: fixed;left: 0; bottom: 0; right: 0;" id="player">
    
    <ngx-audio-player [playlist]="sc.dataSource" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
      muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" (trackEnded)="onEnded($event)"  (trackPlayed)="onPlayed($event)" (trackPaused)="onPaused($event)" (trackLoaded)="onLoaded($event)" (trackLoading)="onLoading($event)"
      [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
      [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
      [displayDuration]="msaapDisplayDuration" [expanded]="true">
    </ngx-audio-player> 
      
  </div>
</footer>

