<!-- <div class=logoFrame>
  <span class="logoHelper"></span>
  <img class="logoImg" [@vinylAnim]="currentState"  (@vinylAnim.done)='captureDoneEvent($event)' src="../assets/img/radio-dimanche-logo-text.svg" />
</div> 

<div [@overlayFadeOut]="overlayState" (@overlayFadeOut.done)="overlayState='visible'" >
</div> -->

<mat-tab-group class="footer-dependant" [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex=$event" backgroundColor="accent">
  <mat-tab label="Radio">

    <div 	style="margin-top:10%;">


      </div>

      <iframe #scFrame id="soundcloud_widget" allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/257613835&color=%23b69a7a&show_teaser=false"
        width="420"
        height="120"
        frameborder="no">
      </iframe>

  </mat-tab>

<!-- to do : wrap playlists view in it's own component, is player still working ? -->

<mat-tab label="Episodes">
<nav>
  <a *ngIf="detailActivated" routerLink="/home" routerLinkActive="active " (click)="detailActivated=false" >Retour aux playlists</a>
</nav>

  <router-outlet></router-outlet>

</mat-tab>
<mat-tab label="A propos"> <app-about></app-about> </mat-tab>
<mat-tab label="Contact"> <app-contact></app-contact> </mat-tab>


<!-- <mat-tab label="LIVE"> Content 5 </mat-tab> -->
</mat-tab-group>

<footer>
</footer>

<div style="position: fixed;left: 0; bottom: 0; right: 0;" id="player">
    
  <app-audio-player [title]="currentTitle" [artist]="currentArtist" [extra]="currentExtra" 
  [endTime]="currentEndTime" [trackTime]="currentTrackTime"  [sliderPosition]="currentSliderPosition"
  [playing]="isPlaying" [playlist]="isPlaylist" [volume]="currentVolume" 
  [imageUrl]="currentImageUrl" [playlistUrl]="'todo'"
  (play)="SC.widget1.play()" (pause)="SC.widget1.pause()" (prev)="SC.widget1.prev()" (next)="SC.widget1.next()"
  (replay)="SC.widget1.seekTo(1)" (seekTo)="SC.widget1.seekTo($event.value*currentEndTimeMillis/100)">
  </app-audio-player> 
    
</div>

