.loading-message {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: large;
    overflow: hidden;
    z-index: -1;
 }

 .big-icon{
   font-size: 20vw;
   height: 20vw;
   width: 20vw;
   line-height: 20vw;
}
.middle-icon{
   font-size: 10vw;
   height: 10vw;
   width: 10vw;
   line-height: 10vw;
}

 .example-list {
   border: solid 1px #ccc;
   border-radius: 5px;
   text-align: center;
   padding: 10px;
   margin: 0;
 }

 /* Adapt the main content to the ngx-audio-player footer*/
  .footer-dependant {
   height:calc(100% - 52px - 56px);
 }

 /* Adapt the main content to the ngx-audio "miniplayer" footer */
 @media (max-width: 444px) {
   .footer-dependant {
      height:calc(100% - 28px - 56px);
    }
 }