<app-test-nav></app-test-nav>
<!-- <app-dialog-write></app-dialog-write>
 --><!--  <app-test-menu></app-test-menu> -->

<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<!-- <app-test-form></app-test-form>-->
<!-- <app-test-table> </app-test-table> -->
<!-- <app-test-grid> </app-test-grid> -->
<!-- <app-test-tree> </app-test-tree> -->
<!-- <app-test-drag-drop> </app-test-drag-drop> -->
<!-- <app-badge-overview-example></app-badge-overview-example> -->


<!-- 
<h1 id="main-content-header">{{title}}</h1>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages> -->

