<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="350px">
<!--     <mat-grid-tile *ngFor="let hero of cards | async" > -->
    <mat-grid-tile *ngFor="let action of actions" [colspan]="(isHandset$ | async) ? '4' : '1'" >
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            {{action.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>

        </mat-card-header>
<!--         <div class="image-container" routerLink="/testgrid"  style="cursor:pointer"> -->
        <div class="image-container" style="cursor:pointer" (click)="openDialog(action.name)">          
          <img mat-card-image src={{action.icon}} style="height:200px;width:auto;">
        </div>

        <mat-card-content class="dashboard-card-content">
          <div>id : {{action.comment}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
