<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      mode="side"
      opened="false" class="mat-elevation-z10">
    <mat-toolbar style="background-color: #e8e8e8;z-index:2;" >
        Coucou !
    </mat-toolbar>

    <mat-nav-list>


      <h2 matSubheader> Sous-section </h2>

<!--workaround to automatic selection of the first item of the nav-list-->
      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a mat-list-item routerLink="/dimanche">
        <mat-icon matListIcon> radio </mat-icon>
         Radio Dimanche</a>

      <a mat-list-item routerLink="/tasks">
      <mat-icon matListIcon> login </mat-icon>
        Tasks</a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height:calc(100% - 52px);"> 
    <!--     Let 60px free space at the bottom of the page for the footer music player   -->
    <mat-toolbar color="primary" class="mat-elevation-z10" style="justify-content: space-between;z-index:2;">

        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span >
          <img top="0" style="max-width: 80%;height: auto;display: block;margin-left: auto;margin-right: auto;margin-top:5%;" src="../assets/img/dimanche_flaticon.svg">
        </span>
        <span hidden>{{(fs.auth.user | async)?.email}}</span>



<!-- issue : the initial value for async pipe is null (the same that when no user is authenticated) https://github.com/angular/angular/issues/16982
     workaround : use another observable that can take an initial value :
                  fs.signedInBoolean = 3 -> the request is pending, 0-> no user authenticated, 1-> a user is authenticated -->

<!-- issue : the observable fs.signedInBoolean is not refreshed on change
    TO DO : pas besoin que ce soit un observable !
    TO DO : sharereplay sur l'observable est une solution ?
     workaround : the fs.auth.user observable is used to refresh the template once it is resolved,
                  it's not necessary to show it that's why it has the hidden attribute -->

<!-- issue : the login button stay focused when closing the dialog box
     workaround : use onclick="this.blur()" method on the login button -->

        <button
          *ngIf="(fs.signedInBoolean | async)==0"
          type="button"
          mat-icon-button
          (click)="openSigninDialog()"
          onclick="this.blur()"
          #LoginButton
          >
          <mat-icon aria-label="login icon">login</mat-icon>
        </button>

        <button
        *ngIf="(fs.signedInBoolean | async)==1" 
          type="button"
          mat-icon-button
          (click)="signOut()"
          >
          <mat-icon aria-label="logout icon">logout</mat-icon>
        </button>
    
        <button
        *ngIf="(fs.signedInBoolean | async)==3" 
          type="button"
          mat-icon-button
          >
          <mat-icon>no-icon</mat-icon>
        </button>

    </mat-toolbar>

    <!-- Add Content Here -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
